@media only screen and (max-width: 740px) {
	h1 { font-size: 4.5em; }
	h3 { font-size: 2.2em; }
	h2 { display: block; }
	#info { float: none; display: block;}
	#photo {
		float: none;
		display: block;
		
	}
	#w { padding: 20px 15px; }
	p { padding: 0; }
	h5 { padding: 0; }
	h6 { padding: 0 !important;}
}

@media only screen and (max-width: 570px) {
    ul li { width: 220px; }
    #skills {display:none !important;}
	#tech {display:block !important;}
	#skills-right { margin-bottom: 15px; }
	#skills-left {padding-bottom: -2px; margin-bottom: -2px;}
}

@media only screen and (max-width: 480px) {
	ul li { width: 220px; }
	#w { margin: 0 20px; }
	#skills {display:none !important;}
	#tech {display:block !important;}
	#skills-left {padding-bottom: -2px; margin-bottom: -2px;}
}

@media only screen and (max-width: 320px) {
	#w { margin: 0 10px; }
	#photo {display:none;}
	#articles {display:none;}
	#profile {display:none;}
	#skills {display: none !important;}
	#tech {display: block !important;}
	body { background: #fff }
	#skills-left {padding-bottom: -2px; margin-bottom: -2px;}
	

}

/** iPhone only **/
@media screen and (max-device-width: 480px) {
	ul li { width: 220px; }
}