@import 'node_modules/bootstrap/scss/_functions.scss';
@import 'node_modules/bootstrap/scss/_variables.scss';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss';

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
);

$bg-xs: #00cccc;
$bg-sm: #00b3b3;
$bg-md: #009999;
$bg-lg: #008080;
$bg-xl: #006666;
body {
    @include media-breakpoint-only(xs) {
        background: $bg-xs;

    }

    @include media-breakpoint-up(sm) {background: $bg-sm}
    @include media-breakpoint-up(md) {background:  $bg-md }
    @include media-breakpoint-up(lg) { background: $bg-lg}
    @include media-breakpoint-up(xl) { background: $bg-xl }
}

//CV STYLES START
.resume-body {
    #w {
        margin: 0px 50px 0px 80px;
        padding: 20px 40px 20px 40px;;
        padding-top: 35px;
        background: #fff;
        min-width: 260px;
        max-width: 900px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        -webkit-border-bottom-left-radius: 8px;
        -webkit-border-bottom-right-radius: 8px;
        -moz-border-radius-bottomleft: 8px;
        -moz-border-radius-bottomright: 8px;
        .position {
            cursor:pointer;
        }
        .company {
            padding-left:15px;
            padding-top:10px;}
        .custom-bullet li {
            display: block;
        }
        .custom-bullet li:before {
            content: "\f105";
            font-family: 'FontAwesome';
            font-size: 12px;
            float: left;
            margin-left: -17px;
            color: blue;
        }
        .hand {
            cursor: pointer;
            margin-right:50px;
        }
        h1 {
          font-family: "Simonetta", "Trebuchet MS", Arial, sans-serif;
          color: #454545;
          font-size: 3.6em;
          margin-bottom: 6px;
        }
        h2 {
          font-family: "Simonetta", "Trebuchet MS", Arial, sans-serif;
          color: #484848;
          font-size: 2.5em;
          margin-bottom: 10px;
          text-decoration: underline;
        }
        h3 {
          font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
          color: #777;
          font-weight: normal;
          font-size: 1.8em;
          margin-bottom: 10px;
        }
        h4 {
          font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
          color: #656565;
          margin-bottom: 4px;
        }
        p {
          color: #565656;
          line-height: 1.4em;
          margin-bottom: 15px;
          padding-left: 25px;
        }
        h5 {
          font-family: "Balthazar", "Droid Serif", serif;
          color: #565656;
          line-height: 1.2em;
          margin-bottom: 0px;
          padding-left: 25px;
          font-weight: normal;
        }
        ul {
          display: block;
          list-style: none;
          li {
            list-style-type: none;
            vertical-align: top;
            margin-bottom: 5px;
            color: #666;
            line-height: 2.3em;
          }
        }
        img {
          border: 0;
          max-width: 100%;
        }
        a {
          color: #5582d6;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        header {
          width: 100%;
        }
      }

      #info {
        float: left;
        margin-bottom: 12px;
      }

      #photo {
        float: right;
        img {
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          background-color: #fff;
          border: 1px solid #ccc;
          padding: 5px;
        }
      }

      #skills-left {
        display: block;
        float: left;
        margin-right: 30px;
        margin-bottom: -5px;
      }

      #skills-right {
        display: block;
        float: left;
      }

      #tech {
        display: none;
      }

      #w .clearfix {
        &:after {
          content: ".";
          display: block;
          clear: both;
          visibility: hidden;
          line-height: 0;
          height: 0;
        }
        display: inline-block;
      }

      //CV responsiveness
      @media only screen and (max-width: 740px) {
        h1 {
          font-size: 4.5em;
        }
        h3 {
          font-size: 2.2em;
        }
        h2 {
          display: block;
        }
        #info, #photo {
          float: none;
          display: block;
        }
        #w {
          padding: 20px 15px;
        }
        p, h5 {
          padding: 0;
        }
        h6 {
          padding: 0 !important;
        }
      }

      @media only screen and (max-width: 570px) {
        ul li {
          width: 220px;
        }
        #skills {
          display: none !important;
        }
        #tech {
          display: block !important;
        }
        #skills-right {
          margin-bottom: 15px;
        }
        #skills-left {
          padding-bottom: -2px;
          margin-bottom: -2px;
        }
      }

      @media only screen and (max-width: 480px) {
        ul li {
          width: 220px;
        }
        #w {
          margin: 0px 20px 0px 50px;
        }
        #skills {
          display: none !important;
        }
        #tech {
          display: block !important;
        }
        #skills-left {
          padding-bottom: -2px;
          margin-bottom: -2px;
        }
      }

      @media only screen and (max-width: 320px) {
        #w {
          margin: 0px 10px 0px 10px;
          #info {
              h1 {
                  margin-left: 25px;
              }
          }
        }
        #photo, #articles, #profile {
          display: none;
        }
        #skills {
          display: none !important;
        }
        #tech {
          display: block !important;
        }
        body {
          background: #fff;
        }
        #skills-left {
          padding-bottom: -2px;
          margin-bottom: -2px;
        }
      }

      /** iPhone only **/
      @media screen and (max-width: 480px) {
        ul li {
          width: 220px;
        }

      }
}
//CV STYLES END

//NAVIGATION START
.homelink {
    font-size: 40px;
    position: fixed;
    top: 10px;
    left: 10px;
    color: #343a40!important;
}
//NAVIGATION END

//BOOT4 START
.boot4 {
    background: #ffffff;
  }
//BOOT4 END

//WORK CUSTOM START
.work-custom {
  background: #ffffff;
  .grid-wrapper {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-auto-columns: minmax(100%, auto);
  }

  .pnt {
    min-height: 1.5rem;
  }

  .orange-button {
    color: #ffffff !important;
    border-color: #e35205 !important;
    background-color: #e35205 !important;
    border-width: 2px;
    width: auto;
    text-decoration: none !important;
    text-align: center;
    font-size: 18px;
    padding: 0px 11px 0px 5px;
  }

  .bluegrey {
    padding: 15px 20px 10px 20px;
    border-radius: 5px;
    border: 2px solid #41748d;
    background-color: #e2e8e9;
    margin-bottom: 20px;
    width: 600px;
  }

  .teal-button {
    border-width: 2px;
    border-color: #004d4d;
    color: #fff;
    font-family: helvetica;
    font-size: 33px;
    background-color: #004d4d !important;
    &:hover {
      border-color: #004d4d !important;
      color: #004d4d !important;
      background-color: #fff !important;
    }
  }

  .blue-box {
    padding: 10px 20px 10px 20px;
    border-radius: 2px;
    border: 1px solid #325d81;
    background-color: #ffffff;
    margin: 0px 0px 10px 0px;
    width: fit-content;
  }

  .glyphicon-plus, .glyphicon-minus {
    padding: 0px 20px 0px 10px;
  }

  .grey-box {
    padding: 10px 20px 10px 20px;
    border-radius: 2px;
    border: 1px solid #41748d;
    background-color: #e2e8e9;
    margin: 0px 0px 10px 0px;
  }

  .page-middle {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    padding: 15px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .hd-button {
    color: #585858 !important;
    border-color: #dbdbdb !important;
    background-color: #f4f4f4 !important;
    border-width: 1px;
    width: 100%;
    text-decoration: none !important;
    text-align: left;
    font-size: 18px;
    padding: 0px 15px 0px 5px;
  }

  .glyphicon-plus, .glyphicon-minus {
    padding: 0px 20px 0px 10px;
  }

  .hd-box {
    padding: 10px 20px 10px 20px;
    border-radius: 2px;
    border: 1px solid #dbdbdb;
    background-color: #ffffff;
    margin: 0px 0px 10px 0px;
  }

  .hd-heading {
    color: #585858 !important;
    text-decoration: none !important;
  }

  .no-space {
    padding: 4px 7px 4px 3px !important;
    margin: 0px !important;
    align: center;
  }

  .button-style {
    height: 177px;
    width: 177px;
    border-width: 4px !important;
    color: white;
    padding: 5px 5px 5px 5px;
    text-align: center;
    vertical-align: bottom;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    overflow-wrap: break-word;
  }

  .half-button-style {
    height: 85px;
    width: 177px;
    border-width: 4px !important;
    color: white;
    padding: 5px 5px 5px 5px;
    text-align: center;
    vertical-align: bottom;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    overflow-wrap: break-word;
  }

  .ocean-bk {
    background-color: #41748d;
    &:hover {
      color: #41748d;
      border-color: #41748d;
    }
  }

  .orange-bk {
    background-color: #f58400;
    &:hover {
      color: #f58400;
      border-color: #f58400;
      background-color: #ffffff;
    }
  }

  .cg-bk {
    background-color: #a7a8aa;
    &:hover {
      color: #a7a8aa;
      border-color: #a7a8aa;
      background-color: #ffffff;
    }
  }

  .grey-bk {
    background-color: #3d3935;
    &:hover {
      color: #3d3935;
      border-color: #3d3935;
      background-color: #ffffff;
    }
  }

  .tangerine-bk {
    background-color: #e35205;
    &:hover {
      color: #e35205;
      border-color: #e35205;
      background-color: #ffffff;
    }
  }

  .plum-bk {
    background-color: #582d40;
    &:hover {
      color: #582d40;
      border-color: #582d40;
      background-color: #ffffff;
    }
  }

  .granite-bk {
    background-color: #647c7d;
    &:hover {
      color: #647c7d;
      border-color: #647c7d;
      background-color: #ffffff;
    }
  }

  .big-button-style {
    height: 360px;
    width: 177px;
    border-width: 4px;
    color: white;
    padding: 5px 5px 5px 5px;
    text-align: center;
    vertical-align: bottom;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    overflow-wrap: break-word;
  }

  .long-button-style {
    height: 177px;
    width: 360px;
    border-width: 4px;
    color: white;
    padding: 5px 5px 5px 5px;
    text-align: center;
    vertical-align: bottom;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    overflow-wrap: break-word;
  }

  .button-style:hover, .big-button-style:hover, .long-button-style:hover {
    background-color: #ffffff;
  }

  .icon-style {
    font-size: 80px !important;
    padding: 10px 0px 15px 0px;
  }

  .gly-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .page-middle {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    padding: 15px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
//WORK CUSTOM END

//EXPAND CUSTOM START
.expand-custom {
  a {
    color: #009;
    text-decoration: none;
    border-bottom: 1px dotted #000;
    white-space: nowrap;
    &:link, &:visited, &:focus {
      color: #009;
      text-decoration: none;
      border-bottom: 1px dotted #000;
      white-space: nowrap;
    }
    &:hover {
      text-decoration: none;
      border-bottom: 1px solid #009;
    }
  }

  body {
    background: #fff;
    margin: 10px;
    font: 0.7em/1.3em Verdana, Arial, Helvetica, sans-serif;
  }

  ul {
    list-style: none;
    text-decoration: none;
    li {
      padding: 0px 0px 7px 10px;
    }
  }

  span:hover, a:hover, div:hover {
    text-decoration: none;
  }

  span.x-plus {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  .symbol {
    border-bottom: none;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  .hand-expand {
    cursor: pointer;
    margin-right: 5px;
  }

  /* Plus Minus Expander */

  .hidden {
    display: none;
  }

  .bigspan {
    font-size: 20px;
  }

  .x-minus {
    color: darkgoldenrod !important;
    font-size: 22px;
    margin: 1px 1px 2px 3px;
    padding: 1px 1px 2px 3px;
    &:after {
      content: "-" !important;
    }
  }

  .x-plus {
    color: green;
    text-decoration: none;
    margin: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
    &:after {
      content: "+";
    }
    &:hover {
      text-decoration: none;
    }
  }

  .x-div {
    width: 300px;
    max-width: 350px;
    &:hover {
      color: teal;
      text-decoration: none;
    }
  }
}
//EXPAND CUSTOM END

//RSVP CUSTOM START
.rsvp-custom {
  * {
    box-sizing: border-box;
  }

  body {
    font-family: 'Lato', sans-serif;
    color: #4c4c4c;
    background: #f8fdf3;
  }

  h1, p, form button {
    color: white;
  }

  h1 {
    font-family: 'Courgette', cursive;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    line-height: .65;
    margin-top: .5em;
    margin-bottom: 0;
  }

  h2 {
    margin-top: 0;
  }

  p {
    font-size: 1.1em;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  }

  form {
    width: 60%;
    background: white;
    display: inline-block;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    border-radius: .2em;
    border: solid 4px white;
    box-shadow: 0 1px 14px rgba(0, 0, 0, 0.12);
    button {
      padding: 0 1em;
      font-size: 1em;
      background: #7bcbc4;
      border-radius: .2em;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 2em 0 1em;
    li {
      padding: 1em;
      background: #fff;
      border-radius: .2em;
      border: solid 1px rgba(88, 183, 205, 0.2);
      border-bottom: solid 2px rgba(88, 183, 205, 0.2);
      position: relative;
    }
  }

  button {
    cursor: pointer;
  }

  input, button {
    border: none;
    outline: none;
  }

  header {
    text-align: center;
    background: linear-gradient(90deg, #d4eece, #55b3d0, #1e7eb7), url('../img/rsvp.jpg') no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    input {
      padding: 12px;
      font-size: 1.15em;
      width: 100%;
    }
  }

  li {
    span {
      color: #707070;
      font-size: 1.3em;
      margin-bottom: .3em;
    }
    input[type=text] {
      color: #707070;
      font-size: 1.3em;
      margin-bottom: .3em;
      padding: .2em;
      width: 95%;
      border: 1px dotted rgba(0, 0, 0, 0.2);
    }
    label {
      font-size: .9em;
      display: block;
      color: rgba(112, 112, 112, 0.55);
    }
    span, input[type=text]:first-child {
      display: block;
    }
    button {
      font-size: .78em;
      margin-top: 1.65em;
      margin-right: .4em;
      border-radius: .3em;
      padding: .4em .6em;
      color: white;
      background: #58b7cd;
      &:last-child {
        background: rgba(88, 183, 205, 0.5);
      }
    }
  }

  .wrapper {
    width: 100%;
    max-width: 900px;
    margin: 2.5em auto;
    border-radius: .35em;
    background: #fcfcfc;
    overflow: hidden;
    box-shadow: 0 0 26px rgba(0, 0, 0, 0.13);
  }

  div > {
    input:last-child {
      font-size: 1em;
      margin-left: 6px;
    }
    label {
      color: #767676;
    }
  }

  /* responded */

  .responded {
    transition: 0.4s;
    border-color: rgba(88, 183, 205, 0.9);
    label {
      transition: 0.4s;
      color: rgba(88, 183, 205, 1);
    }
  }

  /* =================================
    Media Queries
  ==================================== */

  @media (min-width: 0) and (max-width: 768px) {
    header {
      padding: 1.25em;
    }
    h1 {
      font-size: 3.6em;
      margin: .3em 0 0;
    }
    ul li {
      margin-bottom: 1em;
    }
    form {
      width: 95%;
      -webkit-flex-direction: column;
      flex-direction: column;
      margin: auto;
      margin-top: 2.5em;
      button {
        padding: 12px 0;
        margin-top: .5em;
      }
      input {
        font-size: 1em;
        text-align: center;
      }
    }
    .wrapper {
      margin: 0;
    }
    .main {
      padding: 2em 1em .75em;
    }
  }

  @media (min-width: 769px) {
    header {
      height: 280px;
      padding: 2.5em 1em 1em;
      background-position: 0 -95px;
    }
    .main > div {
      float: right;
      display: inline-block;
      margin-top: 12px;
      margin-right: 1.25%;
    }
    div > label {
      margin-top: 12px;
    }
    h1 {
      font-size: 5.8em;
    }
    h2 {
      float: left;
      font-size: 1.9em;
      margin-left: 1.25%;
    }
    form {
      margin: 4.15em auto 0;
      z-index: 3000;
      position: relative;
    }
    .wrapper {
      width: 90%;
    }
    .main {
      padding: 3.8em 1.5em .75em;
      position: relative;
      z-index: 10;
    }
    ul {
      display: -webkit-flex;
      display: flex;
      clear: both;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-top: 1.25em;
      li {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -webkit-flex-basis: 47.5%;
        flex-basis: 47.5%;
        margin: 0 1.25% 1em;
      }
    }
  }

  @media (min-width: 880px) {
    ul li {
      -webkit-flex-basis: 20%;
      flex-basis: 20%;
    }
  }
}
//RSVP CUSTOM END

//BEFORE AFTER CUSTOM START
.beforeafter-custom {
@import url("https://fonts.googleapis.com/css?family=Unica+One|Vollkorn");
  background: #ffffff;
  font-size: 1rem;
  text-align: center !important;
  font-family: "Vollkorn";
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.7);

body {
  font-size: 1rem;
  text-align: center !important;
  font-family: "Vollkorn";
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.7);
  }

h1, h2, h3, h4, h5 {
  font-family: "Unica One";
  text-transform: uppercase;
  line-height: .9;
  color: #c31;
}

h2 {
  margin-top: 1.2em;
  margin-bottom: 0;
}

p {
  margin-top: .25em;
}

a {
  color: #c31;
}

.intro {
  font-size: 2rem;
}

blockquote {
  font-size: 2rem;
  color: black;
}

blockquote::before {
  content: open-quote;
}

blockquote::after {
  content: close-quote;
}

a[data-tool-tip] {
  position: relative;
}

a[data-tool-tip]::after {
  content: attr(data-tool-tip);
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1em 3em;
  color: white;
  border-radius: 5px;
  font-size: .8em;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  -webkit-transform: scale(0);
          transform: scale(0);
  transition: bottom ease-out 150ms, -webkit-transform ease-out 150ms;
  transition: transform ease-out 150ms, bottom ease-out 150ms;
  transition: transform ease-out 150ms, bottom ease-out 150ms, -webkit-transform ease-out 150ms;
}

a[data-tool-tip]:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  bottom: 100%;
}

.decorations {
  padding: 1em 7em 1em 7em;
}

.section-with-deco::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f0e7';
  display: block;
  margin-bottom: 5px;
}

a[href$=".pdf"]::after {
  font-family: 'Font Awesome 5 Free';
  content: " ";
}

a[href^="http"]::after {
  font-family: 'Font Awesome 5 Free';
  content: ' \f35d';
  font-weight: 900;
  font-size: .8em;
}

.counters {
  background: lightgray;
  text-align: left;
  padding: 1em 8em 5em 8em;
  margin-top: 1em;
  counter-reset: counter-name;
}

.section {
  position: relative;
}

.section::before {
  counter-increment: counter-name;
  content: counter(counter-name);
  position: absolute;
  left: -2.5em;
  top: -.5em;
  background: white;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba(0, 0, 0, 0.7);
  color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
}

.counters ol {
  list-style: none;
}

.counters li::before {
  counter-increment: ordered-list;
  content: "list item " counter(ordered-list) ") ";
  font-size: .8em;
  color: #c31;
}

}
//BEFORE AFTER CUSTOM END

//TOOLTIP CUSTOM START
.tooltip-custom {
  margin: 5rem 2rem 2rem 2rem;
  body {
    margin: 5rem 2rem 2rem 2rem;
  }

  div.teal {
    background: teal;
    border: 2px solid darkred;
    border-radius: 10px;
    height: 10rem;
    width: 10rem;
  }
  div.purple {
    background: rgb(81, 0, 128);
    border: 2px solid rgb(42, 0, 139);
    border-radius: 10px;
    height: 5rem;
    width: 15rem;
  }

  /* with classw start */

  .toolTip {
    position: relative;
    cursor: pointer;
  }

  .toolTip:before, .toolTip:after {
    position: absolute;
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    pointer-events: none;
  }

  .toolTip:hover:before, .toolTip:hover:after, .toolTip:focus:before, .toolTip:focus:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  .toolTip:before {
    z-index: 1001;
    border: 6px solid transparent;
    background: transparent;
    content: "";
  }

  .toolTip:after {
    z-index: 1000;
    padding: 8px;
    width: 160px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    font-size: 14px;
    line-height: 1.2;
  }

  .toolTip:before, .toolTip:after {
    bottom: 100%;
    left: 50%;
  }

  .toolTip:before {
    margin-left: -6px;
    margin-bottom: -12px;
    border-top-color: #000;
    border-top-color: hsla(0, 0%, 20%, 0.9);
  }

  .toolTip:after {
    margin-left: -80px;
  }

  .toolTip:hover:before, .toolTip:hover:after, .toolTip:focus:before{
    -webkit-transform: translateY(-12px);
    -moz-transform: translateY(-12px);
    transform: translateY(-12px);
  }



  /* with class end */

  [data-tooltip] {
    position: relative;
    cursor: pointer;
  }

  [data-tooltip]:before, [data-tooltip]:after {
    position: absolute;
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    pointer-events: none;
    border-radius: 5px;
  }

  /* Show the entire tooltip on hover and focus */

  [data-tooltip]:hover:before, [data-tooltip]:hover:after, [data-tooltip]:focus:before, [data-tooltip]:focus:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  /* Base styles for the tooltip's directional arrow */

  [data-tooltip]:before {
    z-index: 1001;
    border: 6px solid transparent;
    background: transparent;
    content: "";
    border-radius: 0px;
  }

  /* Base styles for the tooltip's content area */

  [data-tooltip]:after {
    z-index: 1000;
    padding: 8px;
    width: 160px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    font-size: 14px;
    line-height: 1.2;
  }

  /* Directions */

  /* Top (default) */

  [data-tooltip]:before, [data-tooltip]:after {
    bottom: 100%;
    left: 50%;
  }

  [data-tooltip]:before {
    margin-left: -6px;
    margin-bottom: -12px;
    border-top-color: #000;
    border-top-color: hsla(0, 0%, 20%, 0.9);
  }

  /* Horizontally align top/bottom tooltips */

  [data-tooltip]:after {
    margin-left: -80px;
  }

  [data-tooltip]:hover:before, [data-tooltip]:hover:after, [data-tooltip]:focus:before, [data-tooltip]:focus:after {
    -webkit-transform: translateY(-12px);
    -moz-transform: translateY(-12px);
    transform: translateY(-12px);
  }


 /************ white tooltip start **********/
.white-tooltip {
   margin: 6rem 2rem 2rem 4rem;
 }
  [data-tooltip-white] {
   position: relative;
   cursor: pointer;
 }
 [data-tooltip-white]::after {
   display: none;
   position: absolute;
   bottom: 110%;
   left: 50%;
   padding: 3px 5px;
   width: 200px;
   transform: translateX(-50%);
   border: 1px solid #c9e0ef;
   border-radius: 3px;
   color: #3f517e;
   background-color: #fff;
   pointer-events: none;
   content: attr(data-tooltip-white);
 }
 [data-tooltip-white]::before {
   display: none;
   position: absolute;
   bottom: 110%;
   left: 50%;
   z-index: 2;
   transform: translate(-50%, 50%) rotate(45deg);
   width: 6px;
   height: 6px;
   border: solid #c9e0ef;
   border-width: 0 1px 1px 0;
   background-color: #fff;
   content: '';
 }

 [data-tooltip-white]:focus, [data-tooltip-white]:hover {
   text-decoration: underline;
 }
 [data-tooltip-white]:focus::after, [data-tooltip-white]:focus::before, [data-tooltip-white]:hover::after, [data-tooltip-white]:hover::before {
   display: block;
 }
 [data-tooltip-white][data-side="right"]::after, [data-tooltip-white][data-side="right"]::before {
   bottom: 50%;
   left: 100%;
   margin-left: 10px;
 }
 [data-tooltip-white][data-side="right"]::after {
   transform: translate(0, 50%);
 }
 [data-tooltip-white][data-side="right"]::before {
   transform: translate(-50%, 50%) rotate(135deg);
 }
 [data-tooltip-white][data-side="bottom"]::after, [data-tooltip-white][data-side="bottom"]::before {
   bottom: auto;
   top: 110%;
 }
 [data-tooltip-white][data-side="bottom"]::after {
   transform: translate(-50%, 0);
 }
 [data-tooltip-white][data-side="bottom"]::before {
   transform: translate(-50%, -50%) rotate(225deg);
 }
 [data-tooltip-white][data-side="left"]::after, [data-tooltip-white][data-side="left"]::before {
   right: 100%;
   bottom: 50%;
   left: auto;
   margin-right: 10px;
 }
 [data-tooltip-white][data-side="left"]::after {
   transform: translate(0, 50%);
 }
 [data-tooltip-white][data-side="left"]::before {
   transform: translate(50%, 50%) rotate(315deg);
 }

 /* white tooltip end */

}
//TOOLTIP CUSTOM END
